h2 {
color: #f1f5f5;
font-family: 'Times New Roman', Times, serif;
}

.container {
position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.container .box {
position: relative;
width: 20rem;
height: 20rem;
margin: 3rem;
}
.container .box:hover .imgBox {
transform: translate(-2.5rem,-2.5rem);
}
.container .box:hover .content {
    transform: translate(2.8rem,2.8rem);
    }
.imgBox {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 2;
transition: all 0.3s ease-in-out;
}
.imgBox img {
width: 20rem;
height: 20rem;
object-fit: cover;
resize: both;
}